{% extends "skeleton.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4 class="page-header">
        Search Query : <small>{{ s_query }}</small>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h2>
          {% for tag in page_data['tags'] %}
            {% if tag['Key'] is equalto 'Name' %}
              {{ tag['Value'] }} ({{ page_data['_id'] }})
            {% endif %}
          {% endfor %}
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Instance Info</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Public DNS :</dt>
              <dd>{{ page_data['public_dns'] }}</dd>
              <dt>Size :</dt>
              <dd>{{ page_data['type'] }}</dd>
              <dt>Key :</dt>
              <dd>{{ page_data['ssh_key_name'] }}</dd>
              {% if 'iam_profile' in instance %}
                <dt>IAM Profile</dt>
                <dd>{{ page_data['iam_profile']['Arn'].split('/')[1] }}</dd>
              {% endif %}
              <dt>Security Groups :</dt>
              <dd>
                {{ page_data['security_group'] | join(', ') }}
              </dd>
              <dt>Uptime :</dt>
              <dd>{{ page_data['launch_time'] | uptime }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if extra_vars %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% if 'lbs' in extra_vars %}
          {% if extra_vars['lbs'] %}
            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Elatic Load Balancers</h3>
                </div>
                <div class="panel-body">
                  {% for elb in extra_vars['lbs'] %}
                    {{ elb['public_dns'] }}<br>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
        {% if 'dns' in extra_vars %}
          {% if extra_vars['dns'] %}
            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Domain Name / End Point</h3>
                </div>
                <div class="panel-body">
                  {% for dns in extra_vars['dns'] %}
                    {{ dns['name'] }}<br>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
